<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{layout/template :: layout(~{::title},~{:: #content},~{:: #script})}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>商品一覧</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
</head>
<body>
<section class="section">
    <div class="container" id="content">
        <nav class="navbar" role="navigation">
            <div class="navbar-brand">
                <h1 class="navbar-item title">商品一覧</h1>
            </div>

            <div class="navbar-menu">
                <div class="navbar-end">
                    <div class="field is-horizontal">
                        <div class="field-body">
                            <div class="field">
                                <a class="button is-link" th:href="@{/order/my}">
                                    <span class="icon">
                                        <i class="fas fa-user"></i>
                                    </span>
                                </a>
                            </div>
                            <div class="field">
                                <a id="button-cart" class="button is-link" th:href="@{/cart/items}">
                                    <span id="cart-total-count" th:if="${cartTotalCount > 0}" th:text="${cartTotalCount}" class="badge">8</span>
                                    <span class="icon">
                                        <i class="fas fa-shopping-cart"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <div class="block">
            <form action="" method="get">
                <div class="field is-grouped">
                    <p class="control is-expanded">
                        <input class="input" name="q" type="text">
                    </p>
                    <p class="control">
                        <button class="button is-info">
                            Search
                        </button>
                    </p>
                </div>
            </form>
        </div>

        <div class="block">
            <div th:each="product : ${products}" class="block">
                <div class="columns">
                    <div class="column is-one-fifth">
                        <figure class="image is-128x128">
                            <img src="https://bulma.io/images/placeholders/128x128.png">
                        </figure>
                    </div>
                    <div class="column">
                        <h4 th:text="${product.name}">product name</h4>
                        <div><span th:text="${product.price}">1999</span>円</div>
                        <button type="button"
                                class="button is-primary add-cart"
                                th:attr="data-product-id=${product.id.value},data-product-name=${product.name}">カートに追加する</button>
                    </div>
                </div>
            </div>
        </div>

        <nav class="pagination" role="navigation" aria-label="pagination" th:if="${products.totalPages > 0}">
            <ul class="pagination-list">
                <li th:each="pageNumber : ${pageNumbers}">
                    <a class="pagination-link"
                       th:href="@{/product/(p=${pageNumber}, q=${param.q})}"
                       th:classappend="${pageNumber==products.number + 1} ? 'is-current' : ''"
                       th:text="${pageNumber}">1</a>
                </li>
            </ul>
        </nav>
     </div>
</section>
<script type="text/javascript" id="script">
const csrfHeader = document.querySelector("meta[name=_csrf_header]").getAttribute("content");
const csrfToken = document.querySelector("meta[name=_csrf]").getAttribute("content");

async function addCart(productId, productName) {
  const response = await fetch("/cart/items", {
    method: "POST",
    cache: "no-cache",
    headers: {
      "Content-Type": "application/json",
      [csrfHeader]: csrfToken
    },
    body: JSON.stringify({
      product_id: productId,
      name: productName,
      amount: 1
    })
  });

  let cartTotalCount = document.getElementById("cart-total-count")
  if (cartTotalCount == null) {
    cartTotalCount = document.createElement("span");
    cartTotalCount.id = "cart-total-count";
    cartTotalCount.className = "badge";
    cartTotalCount.innerText = "0";
    document.getElementById("button-cart").appendChild(cartTotalCount);
  }
  const addedEvent = await response.json();
  cartTotalCount.innerText = parseInt(cartTotalCount.innerText) + addedEvent.add_amount;
}

document.querySelectorAll("button.add-cart").forEach(function(btn) {
  btn.addEventListener("click", function(e) {
    addCart(btn.getAttribute("data-product-id"),
      btn.getAttribute("data-product-name"));
  });
});
</script>
</body>
</html>