<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{layout/template :: layout(title=~{::title},content=~{:: #content},script=~{})}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>注文内容確認</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
</head>
<body>
<section class="section">
    <div class="container" id="content">
        <h1 class="title">注文内容確認</h1>
        <div class="block" th:unless="${#lists.isEmpty(order.orderLines)}">
            <form th:action="@{/order/place}" method="post">
                <table class="table">
                    <thead>
                    <tr>
                        <th>商品</th>
                        <th>価格</th>
                        <th>数量</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="orderLine : ${order.orderLines}">
                        <td>
                            <input type="hidden" th:name="'orderLines[' + ${orderLineStat.index} + '].productId'" th:value="${orderLine.productId.value}" />
                            <span th:text="${orderLine.name}">Product</span>
                        </td>
                        <td th:text="${orderLine.price}">0</td>
                        <td>
                           <div class="field">
                               <p class="control">
                                   <input type="number"
                                          class="input"
                                          th:name="'orderLines[' + ${orderLineStat.index} + '].amount'" th:value="${orderLine.amount}" min="0"/>
                               </p>
                           </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="field">
                    <p class="control">
                        <button class="button is-success" type="submit">購入</button>
                    </p>
                </div>
            </form>
        </div>
     </div>
</section>
</body>
</html>