<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{layout/template :: layout(title=~{::title},content=~{:: #content},script=~{})}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>注文履歴</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
</head>
<body>
<section class="section">
    <div class="container" id="content">
        <h1 class="title">注文履歴</h1>
        <div class="block" th:unless="${#lists.isEmpty(orders)}">
            <div class="box" th:each="order : ${orders}">
                <!--<h3>注文番号: <span th:text="${order.id.value}">0</span></h3>-->
                <h3>注文日時: <span th:text="${order.orderedAt}">00:00:00</span></h3>
                <table class="table">
                    <thead>
                    <tr>
                        <th>商品</th>
                        <th>価格</th>
                        <th>数量</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="orderLine : ${order.orderLines}">
                        <td th:text="${orderLine.name}">name</td>
                        <td th:text="${orderLine.price}">0</td>
                        <td th:text="${orderLine.amount}">0</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="block" th:if="${#lists.isEmpty(orders)}">
            <div class="box">
                <p>注文がありません</p>
            </div>
        </div>
     </div>
</section>
</body>
</html>