<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{layout/template :: layout(title=~{::title},content=~{:: #content},script=~{})}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>注文完了</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
</head>
<body>
<section class="section">
    <div class="container" id="content">
        <h1 class="title">注文完了</h1>
        <div>
            <p>注文を受け付けました。</p>
            <p>注文番号: <span th:text="${orderId.value}">0</span></p>
        </div>
     </div>
</section>
</body>
</html>