<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      th:fragment="layout(title,content,script)">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:replace="${title}">テスト用メニュー</title>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@creativebulma/bulma-badge@1.0.1/dist/bulma-badge.min.css">
</head>
<body>
<section class="section">
    <div class="navbar">
        <div class="container">
            <div class="navbar-brand">
                <img th:src="@{/images/logo.png}" style="height:31px;"/>
            </div>
            <div class="navbar-menu">
                <div class="navbar-end">
                    <ul>
                        <li class="is-active">
                            <a th:href="@{/}">Home</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <div class="container">
        <div th:replace="${content}"></div>
    </div>
</section>
<script th:replace="${script}"></script>
</body>
</html>