<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{layout/template :: layout(title=~{::title},content=~{:: #content},script=~{})}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>カート</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
</head>
<body>
<section class="section">
    <div class="container" id="content">
        <h1 class="title">カート</h1>
        <div class="block" th:unless="${#lists.isEmpty(items)}">
            <form th:action="@{/cart/update}" method="post">
                <table class="table">
                    <thead>
                    <tr>
                        <th>商品</th>
                        <th>数量</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item : ${items}">
                        <td>
                            <span th:text="${item.name}">Product</span>
                            <input type="hidden" th:name="'items[' + ${itemStat.index} + '].productId'" th:value="${item.productId.value}" />
                        </td>
                        <td>
                           <div class="field">
                               <p class="control">
                                   <input type="number"
                                          class="input"
                                          th:name="'items[' + ${itemStat.index} + '].amount'" th:value="${item.amount}" min="0"/>
                               </p>
                           </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="block">
                    <div class="columns">
                        <div class="column">
                            <div class="field">
                                <p class="control">
                                    <button name="mode" value="updateAmount" class="button is-success" type="submit">数量変更</button>
                                </p>
                            </div>
                        </div>
                        <div class="column">
                            <div class="field">
                                <p class="control">
                                    <button name="mode" value="checkout" class="button is-success" type="submit">レジに進む</button>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="block" th:if="${#lists.isEmpty(items)}">
            <p>カートが空です</p>
        </div>

        <a th:href="@{/product/}">商品一覧にもどる</a>
     </div>
</section>
</body>
</html>